$main__text__color: #2c2c2c;
$secondary__text__color: #000000;
$accent__text__color: #7eb101;
$btn__green__color: #bbf330;
$white__main__color: #f5f5f5;
$white__secondary__color: #fefefe;
$white__color: #ffffff;
$yellow__bg__color: #ffe550;
$main__font: Roboto, sans-serif;
