$main__text__color: #2c2c2c;
$secondary__text__color: #000000;
$accent__text__color: #7eb101;

// MIXIN
@mixin fonts($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin mobile_max {
  @media screen and (max-width: 479px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet_max {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
