<section class="customers-say">
    <div class="container">
        <h2 class="customers-say__title">What our Customers Say</h2>
        <p class="customers-say__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="customers-say-list">
            <li class="customers-say-list__item">
                <ul class="stars-list">
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                </ul>
                <p class="customers-say-list__text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind,
                No questions asked”</p>
                <div class="avatar">
                    <img class="avatar__icon" src="#" alt="#">
                    <h3 class="avatar__title">Sumith Shah</h3>
                    <p class="avatar__text">Some Dude</p>
                </div>
            </li>
            <li class="customers-say-list__item">
                <ul class="stars-list">
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                    <li class="stars-list__item"></li>
                </ul>
                <p class="customers-say-list__text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering
                from this app”</p>
                <div class="avatar">
                    <img class="avatar__icon" src="#" alt="#">
                    <h3 class="avatar__title">Sumith Shah</h3>
                    <p class="avatar__text">Some Dude</p>
                </div>
            </li>
        </ul>
    </div>
</section>