<section class="customers-say" id="service">
  <div class="container customers-say__container">
    <h2 class="customers-say__title">What our Customers Say</h2>
    <p class="customers-say__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-say-list list">
      <li class="customers-say-list__item">
        <img
          width="101"
          height="16"
          class="customers-say-list__icon"
          src="./images/icon-rating.svg"
          alt="stars"
        />
        <p class="customers-say-list__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="avatar">
          <picture>
            <source srcset="./images/man-1x.png 1x, ./images/man-2x.png 2x" />
            <img class="avatar__icon" src="./images/man-1x.png" alt="man" />
          </picture>
          <div class="avatar__content">
            <h3 class="avatar__title">Sumith Shah</h3>
            <p class="avatar__text">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers-say-list__item">
        <img
          width="101"
          height="16"
          class="customers-say-list__icon"
          src="./images/icon-rating.svg"
          alt="stars"
        />
        <p class="customers-say-list__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="avatar">
          <picture class="avatar__icon">
            <source
              srcset="./images/women-1x.png 1x, ./images/women-2x.png 2x"
            />
            <img src="./images/women-1x.png" alt="woman" />
          </picture>
          <div class="avatar__content">
            <h3 class="avatar__title">Sumith Shah</h3>
            <p class="avatar__text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
