<section class="favorites">
    <div class="container">
      <h2 class="favorites__titel">Some of Our Favorites</h2>
      <p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul class="favorites__list list">
        <li class="favorites__item">
          <picture>
            <source
              srcset="./images/burger-desk-1x.png 1x, ./images/burger-desk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/burger-tab-1x.png 1x, ./images/burger-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/burger-mob-1x.png 1x, ./images/burger-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="./images/burger-tab-1x.png" width="315" alt="Gamburger" />
          </picture>
        </li>
        <li class="favorites__item">
          <picture>
            <source
              srcset="./images/pasta-desk-1x.png 1x, ./images/pasta-desk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/pasta-tab-1x.png 1x, ./images/pasta-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/pasta-mob-1x.png 1x, ./images/pasta-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="./images/pasta-tab-1x.png" width="315" alt="Pasta" />
          </picture>
        </li>
        <li class="favorites__item">
          <picture>
            <source
              srcset="./images/pizza-desk-1x.png 1x, ./images/pizza-desk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/pizza-tab-1x.png 1x, ./images/pizza-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/pizza-mob-1x.png 1x, ./images/pizza-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="./images/pizza-tab-1x.png" width="315" alt="Pizza" />
          </picture>
        </li>
        <li class="favorites__item">
          <picture>
            <source
              srcset="./images/chicken-desk-1x.png 1x, ./images/chicken-desk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/chicken-tab-1x.png 1x, ./images/chicken-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <img src="./images/chicken-tab-1x.png" width="315" alt="Chicken" />
          </picture>
        </li>
        <li class="favorites__item">
          <picture>
            <source
              srcset="./images/salat-desk-1x.png 1x, ./images/salat-desk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/salat-tab-1x.png 1x, ./images/salat-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <img src="./images/salat-tab-1x.png" width="315" alt="Salat" />
          </picture>
        </li>

        <li class="favorites__item">
          <picture>
            <source
              srcset="./images/borshch-desk-1x.png 1x, ./images/borshch-desk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/borshch-tab-1x.png 1x, ./images/borshch-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <img src="./images/borshch-tab-1x.png" width="315" alt="Borshch" />
          </picture>
        </li>
      </ul>
    </div>
  </section>