<footer class="footer">
  <div class="container">
    <section class="menu-wrap">
      <nav class="navigation">
        <a href="#" class="logo">
          <img src="#" alt="site logo" />
        </a>

        <ul class="menu list">
          <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
          <li class="menu__item"><a href="#" class="menu__link">About</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Service</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Menu</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
        </ul>
      </nav>

      <div class="form-wrap">
        <b class="form-title">Subscribe</b>
        <form class="form" autocomplete="off">
          <label class="form__label">
            <input
              type="email"
              name="form"
              class="form__input"
              placeholder="Enter your email"
            />
          </label>
          <button type="submit" class="form__button">Subscribe</button>
        </form>
        <p class="form-text">
          By subscribing you agree to with our
          <span class="form-text-second">Privacy Policy</span>
        </p>
      </div>
    </section>

    <section class="info-wrap">
      <ul class="info list">
        <li class="info__item">
          <a href="#" class="info__link">Privacy Policy</a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">Terms of Service</a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">Cookies Settings</a>
        </li>
      </ul>

      <p class="copy-text">2022 FoodSta. All right reserved.</p>
    </section>
  </div>
</footer>
