<footer class="footer">
  <section class="section">
    <div class="container">
      <div class="menu-wrap-footer">
        <div class="navigation-footer">
          <a href="#" class="logo-footer">
            <img src="./images/icon-logo.svg" alt="site logo" />
          </a>

          <ul class="menu-footer list">
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Home</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">About</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Service</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Menu</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="form-wrap">
          <b class="form-title">Subscribe</b>
          <form class="form" autocomplete="off">
            <label class="form__label">
              <input
                type="email"
                name="form"
                class="form__input"
                placeholder="Enter your email"
              />
              <span class="error">
                &#9888; Not a valid email address (example@email.com)</span
              >
            </label>
            <button type="submit" class="form__button">Subscribe</button>
          </form>
          <p class="form-text">
            By subscribing you agree to with our
            <a class="form-text-second">Privacy Policy</a>
          </p>
        </div>
      </div>

      <div class="info-wrap">
        <ul class="info list">
          <li class="info__item">
            <a href="#" class="info__link">Privacy Policy</a>
          </li>
          <li class="info__item">
            <a href="#" class="info__link">Terms of Service</a>
          </li>
          <li class="info__item">
            <a href="#" class="info__link">Cookies Settings</a>
          </li>
        </ul>

        <p class="copy-text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </section>
</footer>
