<header class="header">
  <div class="container">
<img src="/src/img/Logo.svg" alt="Logo" width="66" height="52">

<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item"><a class="header__nav-link" href="">Home</a></li>
    <li class="header__nav-item"><a class="header__nav-link" href="">About</a></li>
    <li class="header__nav-item"><a class="header__nav-link" href="">Service</a></li>
    <li class="header__nav-item"><a class="header__nav-link" href="">Menu</a></li>
    <li class="header__nav-item"><a class="header__nav-link" href="">Contact</a></li>

  </ul>
</nav>

<button class="header__button" type="button">Order Now</button>
</div>
</header>
<!-- <div class="modal__wrapper" is-hidden> -->
  <div class="modal">
<button class="modal__close" type="button">x</button>
<ul class="modal__list">
  <li class="modal__item"><a class="modal__link" href="">Home</a></li>
  <li class="modal__item"><a class="modal__link" href="">About</a></li>
  <li class="modal__item"><a class="modal__link" href="">Service</a></li>
  <li class="modal__item"><a class="modal__link" href="">Menu</a></li>
  <li class="modal__item"><a class="modal__link" href="">Contact</a></li>
</ul>
  </div>
<!-- </div> -->