<section class="offerings-main" id="about">
  <div class="container">
    <img
      src="./images/apple-mob-1x.png"
      alt="apple"
      width="280px"
      class="offerings__img"
    />
    <div class="offerings-center">
      <h3 class="offerings-name">What’s Special About Our Offerings</h3>
      <p class="offerings-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
    <ul class="offerings-list list">
      <li class="offerings-item icon-delive">
        <h4 class="offerings-name-list">Fasest Delivery</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings-item icon-order">
        <h4 class="offerings-name-list">Easy to order</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <div class="offerings--links">
      <div class="links">
        <button class="offerings__button" type="button" data-modal-open>
          Order Now
        </button>
      </div>
      <div class="links">
        <a class="offerings__link link" href="">Read More</a>
      </div>
    </div>
  </div>
</section>
