
.Favorites {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    & img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
      }
  }
  
  
  .Favorites__titel {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(32 / 28);
    text-align: center;
    margin-bottom: 20px;
    color: #2c2c2c;
    @media screen and (min-width:768px) {
      font-weight: 700;
      font-size: 42px;
      line-height: calc(49 / 42);
    }
  }
  
  .Favorites__text {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    margin-bottom: 60px;
    color: #2c2c2c;
    @media screen and (min-width: 768px) {
    font-size: 16px;
  line-height: 19px;
  }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }
  
  .Favorites__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: 768px) {
      gap: 32px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  .Favorites__item {
    width: 100%;
    height: auto;
    padding: 17px;
    border: 11px solid #ffe550;
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 32px) / 2);
      border: 14px solid #ffe550;
      padding: 21px;
    }
    @media screen and (min-width: 1280px) {
      padding: 24px;
      width: calc((100% - 64px) / 3);
      border: 16px solid #ffe550;
    }
    &:nth-last-child(-n + 3) {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
  