.footer{
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FF705D;
    max-width: 480px;

    @include tablet{
        background-color: #FFE550;
        max-width: 768px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include desktop{
    max-width: 1280px;
    background-color: #505050;
    padding-top: 120px;
    padding-bottom: 120px;
    }
}

.menu-wrap{
display: flex;
flex-direction: column;

@include desktop{
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 80px;
}
}

.navigation{
    display: flex;
    
    @media screen and (max-width:1279px) {
        justify-content: space-between;
        margin-bottom: 40px;
    }
} 

.logo{
@include tablet{
    margin-right: 114px;
}

@include desktop{
    margin-right: 148px;
}

}

.menu{
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
gap: 20px;

&__link{
    @include fonts(400,14px,1.14);
    color: currentColor;
    text-decoration: none;
    }


@include tablet{
    flex-direction: row;
}
}

.form-wrap{
@include desktop{
    margin-left: auto;
}
}

.form-title{
    @include fonts(500,14px,1.5);
    
    display: block;
    margin-bottom: 12px;
}

.form{
@include tablet{
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
}
}

.form__input{
    font-family: inherit;
    height: 42px;
    width: 100%;
    padding: 12px;

    outline: transparent;
    background-color:$white__secondary__color;
    border: 1px solid $yellow__bg__color;
    border-radius: 30px;

    &::placeholder{
        @include fonts(400,12px,1.5);
        color: #505050;
    }

    &:not(:placeholder-shown):not(:focus):valid{
        border-color: $accent__text__color;
    }
    
    &:not(:placeholder-shown):not(:focus):invalid{
        border-color:#FF705D;
    }

    @include tablet{
        width: 279px;
    }
}

.error{
    display: none;
    @include fonts(400,10px,1.5);
    color: #FF705D;

    .form__input:not(:placeholder-shown):not(:focus):invalid + &{
        display: block;
        position: absolute;
    }
}

.form__button{
    display: block;
    min-width: 103px;
    height: 42px;
    
    @include fonts(500,13px,1.5);
    color: currentColor;
    
    background: #FFFFFF;
    border: 1px solid $accent__text__color;
    border-radius: 30px;

    
    @include tablet_max {
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    &:hover,&:focus{
        border-color:#FFE450;
    }
}

.form-text{
    @include fonts(400,10px,1.2);
    
    @include tablet{
        @include fonts(400,12px,1.17);
    }

    @media screen and (max-width:1279px) {
        margin-bottom: 60px;
    }
}

.form-text-second{
    text-decoration-line: underline;
    color: $accent__text__color;
}

.info-wrap{
    display: flex;

    @include tablet_max{
    flex-direction: column;
    }

    @include tablet{
    align-items: center;
    }
}

.info{
    display: flex;

    @include tablet_max{
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__link{
        @include fonts(400,10px,1.2);
        text-decoration: underline;
        color: $accent__text__color;

        @include tablet{
            @include fonts(400,12px,1.17);
        }
    }

    @include tablet{
    gap: 20px;
    flex-grow: 1;
    }
}

.copy-text{
    @include fonts(400,10px,1.2);

    @include tablet_max{
    text-align: center;
    }

    @include tablet{
    @include fonts(400,12px,1.17);
    }
}