.footer{
    margin: 0 auto;
    max-width: 480px;
    background: #FEFEFE;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
    background-image: url(../images/bg-footer-mob/bg-mob-apple-1x.png),
    url(../images/bg-footer-mob/bg-mob-fruits-1x.png),
    url(../images/bg-footer-mob/bg-mob-orange-1x.png);
    background-repeat: no-repeat;
    background-position: top 132px left,center bottom,right top;

    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/bg-footer-mob/bg-mob-apple-2x.png),
        url(../images/bg-footer-mob/bg-mob-fruits-2x.png),
        url(../images/bg-footer-mob/bg-mob-orange-2x.png);
        background-size: 35%,75%,35%;
    }
  

    @include tablet{
        max-width: 768px;
        background-image: url(../images/bg-footer-tab/bg-tab-1-1x.png),
        url(../images/bg-footer-tab/bg-tab-2-1x.png),
        url(../images/bg-footer-tab/bg-tab-3-1x.png),
        url(../images/bg-footer-tab/bg-tab-4-1x.png),
        url(../images/bg-footer-tab/bg-tab-5-1x.png),
        url(../images/bg-footer-tab/bg-tab-6-1x.png),
        url(../images/bg-footer-tab/bg-tab-orange-1x.png);
        background-position: left -20px bottom,bottom left 130px,left 210px bottom,right 235px bottom,bottom right 100px,bottom right,top right;
       
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/bg-footer-tab/bg-tab-1-2x.png),
            url(../images/bg-footer-tab/bg-tab-2-2x.png),
            url(../images/bg-footer-tab/bg-tab-3-2x.png),
            url(../images/bg-footer-tab/bg-tab-4-2x.png),
            url(../images/bg-footer-tab/bg-tab-5-2x.png),
            url(../images/bg-footer-tab/bg-tab-6-2x.png),
            url(../images/bg-footer-tab/bg-tab-orange-2x.png);
            background-size: 23%,21%,23%,28%,23%,20%,25%;

        }
    }


    @include desktop{
    max-width: 1280px;
    background-image: url(../images/bg-footer-desk/bg-desk-1-1x.png),
        url(../images/bg-footer-desk/bg-desk-2-1x.png),
        url(../images/bg-footer-desk/bg-desk-5-1x.png),
        url(../images/bg-footer-desk/bg-desk-4-1x.png),
        url(../images/bg-footer-desk/bg-desk-3-1x.png),
        url(../images/bg-footer-desk/bg-desk-6-1x.png),
        url(../images/bg-footer-desk/bg-desk-7-1x.png),
        url(../images/bg-footer-desk/bg-desk-8-1x.png);
        background-position: left 53px bottom,bottom left 215px,center bottom,center bottom,bottom left 300px,bottom right 270px,bottom right 130px,bottom right 16px;
   
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/bg-footer-desk/bg-desk-1-2x.png),
            url(../images/bg-footer-desk/bg-desk-2-2x.png),
            url(../images/bg-footer-desk/bg-desk-5-2x.png),
            url(../images/bg-footer-desk/bg-desk-4-2x.png),
            url(../images/bg-footer-desk/bg-desk-3-2x.png),
            url(../images/bg-footer-desk/bg-desk-6-2x.png),
            url(../images/bg-footer-desk/bg-desk-7-2x.png),
            url(../images/bg-footer-desk/bg-desk-8-2x.png);
            background-size: 15%,15%,30%,30%,16%,20%,15%,15%;
        }
    }
}


.menu-wrap-footer{
display: flex;
flex-direction: column;

@include desktop{
    flex-direction: row;
    align-items: flex-start;
}
}

.navigation-footer{
    display: flex;
    
    @media screen and (max-width:1279px) {
        justify-content: space-between;
        margin-bottom: 40px;
    }
} 

.logo-footer{
@include tablet{
    margin-right: 114px;
}

@include desktop{
    margin-right: 148px;
}

}

.menu-footer{
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
row-gap: 20px;

&__link{
    @include fonts(400,14px,1.14);
    color: currentColor;
    text-decoration: none;
    }


@include tablet{
    flex-direction: row;
    column-gap: 28px;
}
}

.form-wrap{
@include desktop{
    margin-left: auto;
}
}

.form-title{
    @include fonts(500,14px,1.5);
    
    display: block;
    margin-bottom: 12px;
}

.form{
@include tablet{
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
}

&__label{
position: relative;
}
}


.form__input{
    font-family: inherit;
    height: 42px;
    width: 100%;
    padding: 12px;

    outline: transparent;
    background-color:$white__secondary__color;
    border: 1px solid $yellow__bg__color;
    border-radius: 30px;

    &::placeholder{
        @include fonts(400,12px,1.5);
        color: #505050;
    }

    &:not(:placeholder-shown):not(:focus):valid{
        border-color: $accent__text__color;
    }
    
    &:not(:placeholder-shown):not(:focus):invalid{
        border-color:#FF705D;
    }

    @include tablet{
        width: 279px;
    }
}

.error{
    display: none;
    @include fonts(400,10px,1.5);
    color: #FF705D;

    .form__input:not(:placeholder-shown):not(:focus):invalid + &{
        display: block;
        margin-top: 4px;
    }
}

.form__button{
    display: block;
    min-width: 103px;
    height: 42px;
    cursor: pointer;
    
    @include fonts(500,13px,1.5);
    color: currentColor;
    
    background: #FFFFFF;
    border: 1px solid $accent__text__color;
    border-radius: 30px;

    
    @include tablet_max {
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @include desktop{
    @include animation(border-color);
    }
    
    &:hover,&:focus{
        border-color:#FFE450;
    }
}

.form-text{
    @include fonts(400,10px,1.2);
    
    @include tablet{
        @include fonts(400,12px,1.17);
    }
}

.form-text-second{
    text-decoration-line: underline;
    color: $accent__text__color;
}

.info-wrap{
    display: flex;
    margin-top: 60px;

    @include tablet_max{
    flex-direction: column;
    }

    @include tablet{
    align-items: center;
    margin-top: 100px;
    }

    @include desktop{
    margin-top: 80px;
    }
}

.info{
    display: flex;

    @include tablet_max{
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__link{
        @include fonts(400,10px,1.2);
        text-decoration: underline;
        color: $accent__text__color;

        @include tablet{
            @include fonts(400,12px,1.17);
        }
    }

    @include tablet{
    gap: 20px;
    flex-grow: 1;
    }
}

.copy-text{
    @include fonts(400,10px,1.2);

    @include tablet_max{
    text-align: center;
    }

    @include tablet{
    @include fonts(400,12px,1.17);
    }
}