.header{
    
    // padding: 10px 16px;
    display: flex;
    align-items: center;
    // position: relative;
  
    .container{
       padding:10px 16px 10px 16px;
      background-color:$white__secondary__color;
      box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
      position: relative;
      max-width: 480px;
      display: flex;
      align-items: center;
      width: 100%;
  
      @include tablet{
        max-width: 768px;
      }
  
      @include desktop{
        max-width: 1280px;
  
      }
    }
    
        &__nav{
        margin-left: auto;
        display: none;
  
        @include mobile{
          display: none;
        }
  
        @include tablet{
          display: block;
        }
        }
    
        &__nav-list{
         display: flex;
         gap: 28px;
        }
    
        &__nav-item{
            // list-style: none;
            &::after{
               content:"" ;
               display: block;
               width: 0%;
               height: 2px;
               background-color:$btn__green__color ;
    
               @include animation(width);
    
            }  
        }
    
        &__nav-link{
            // text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
    
            @include fonts(400, 14px, 16px);
            color: $secondary__text__color;
    
            @include animation(color);
            &:hover,
            &:focus{
                color: $btn__green__color;
            }

            @include desktop {
               
                @include fonts(400, 14px, 16px);
                color: $main__text__color;
              
              }
          
    
        }
  
        &__button-burger{
          border: none;
          background-color: transparent;
          margin-left: auto;
          cursor: pointer;

          &:hover .header__burger-icon,
          &:focus .header__burger-icon{
              fill: $yellow__bg__color;
          }
          
  
          @include tablet{
           display: none;
          }
        }
  
        &__burger-icon{
          @include animation(fill);
  
        
  
        }
    
        &__button{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            cursor: pointer;
            display: none;


            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus{
              background-color:#FFE450 ;
            }
  
            @include mobile{
              display: none;
            }
  
            @include tablet{
              display: block;
             }
            
    
            @include fonts(500, 13px, 20px);
            color: $main__text__color;
            background-color: $btn__green__color;
            border-radius: 30px;
            border: none;
            margin-left: 30px;
            padding: 6px 18px;
            height: 32px;
            min-width: 98px;
            // font-weight: 500;
            // font-size: 13px;
            // line-height: 20px;
    
        }
    
    }
    
    .header__nav-item:hover::after{
        width: 100%;
    }
    
    
    .menu{
        width: 130px;
        // height: 255px;
        background: $white__secondary__color;
        box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
        border-radius: 30px 0px 30px 30px;
        position: absolute;
        right: 25px;
        top: 37px;
        overflow: hidden;
        z-index: 5;

        @include tablet{
          display: none;
         }
        
  
        
  
    
      &__close{
        outline: none;
        display: block;
        border: none;
        background-color:transparent;
        position: absolute;
        top:10px;
        right: 10px;
      }
      
      &__item{
        list-style: none;
      }
      &__link{
        display: block;
        padding: 16px 16px;
        // text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        @include fonts(400, 16px, 19px);
        color: $secondary__text__color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            background-color: $btn__green__color;
        }
      }
    }

