.hero {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 60px;

    background-color: $white__color;
    
    @include tablet_max{
        padding-bottom: 50px;
    }


    @include tablet{
    max-width: 768px;
    }

    @include desktop{
    max-width: 1280px;
    padding-top: 14px;
    }
}

.container-wrap {
    position: relative;
    display: flex;
}

.hero__wrap {
    @include tablet {
        flex-grow: 1;
    }
}

.hero__wrapper{
    @include desktop{
        padding-top: 145px;
        }
}


.hero_title {
    @include fonts (700, 28px, calc(33 / 28));
    margin-bottom: 28px;

    @include tablet {
        @include fonts (700, 42px, 1.2);
        margin-bottom: 44px;
        max-width: 537px;
    }

    @include desktop {
        @include fonts (700, 48px, 1.2);
        max-width: 502px;
        margin-bottom: 28px;
    }
}

.hero__text {
    @include fonts (null, 14px, calc(21 / 14));
    margin-bottom: 28px;


    @include tablet {
        @include fonts (null, 16px, calc(24 / 16));
        text-align: left;
        max-width: 336px;
        margin-bottom: 40px;
    }

    @include desktop {
        max-width: 502px;
        margin-bottom: 40px;
    }

}

.hero__button {
    min-width: 98px;
    height: 32px;

    @include fonts (500, 13px, calc(20 / 13));
    font-family: inherit;

    color: $main__text__color;
    border: none;
    border-radius: 30px;
    background-color: $btn__green__color;

    cursor: pointer;

    @include animation(background-color);

        &:hover,
        &:focus {
            background-color: $yellow__bg__color;
        }

}

//------------------ slider -------------------------

.slider-wrapper {
    position: absolute;
    top: 89px;
    right: 32px;

    @include desktop {
        top: 0;
        right: 16px;
    }
}


.wrap-slider {
    display: none;
    margin-left: auto;

    @include tablet {
        display: block;
        width: 320px;
        height: 320px;
    }

    @include desktop {
        height: 580px;
        width: 580px;
    }
}

.wrap-picture {
    border-radius: 50%;

    @include tablet {
        border: 14px solid #FFE550;
    }

    @include desktop {
        border: 26px solid #FFE550;
    }
}

.slider-img {
    @include tablet {
        width: 292px;
        height: 292px;
    }

    @include desktop {
        width: 528px;
        height: 528px;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-weight: 700;
    font-size: 20px;

    @include desktop {
        font-size: 29px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    width: 34px;
    height: 28px;
    color: $main__text__color;
    background-position: center;

    background-color: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    @include animation(color);

    @include desktop {
        width: 48px;
        height: 40px;

    }
    
    &:hover,&:focus {
        color: $accent__text__color;
    }

    &-right {
        right: -12px;
    }

    &-left {
        left: -12px;
    }

}