.subscribe {
    background: $white__main__color;
    // padding-bottom: 62px;
    // padding-top: 52px;

    // @include tablet {
    //     // padding-bottom: 100px;
    //     // padding-top: 82px;
    // }

    @include desktop {
        height: 266px;
        position: relative;
        max-width: 1280px;
    } 
}
.subscribe__box {
    background: $white__main__color;
    padding-bottom: 62px;
    padding-top: 52px;
    position: relative;
    @include tablet {
        padding-bottom: 100px;
        padding-top: 82px;
    }
    @include desktop {
        display: flex;
        position: absolute;
        bottom: 46px;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding-top: 0;
        padding-bottom: 64px;
        //justify-content: baseline;
        //padding-bottom: 64px;
        //padding-top: 46px;
        //flex:1;
        
    }
}
.subscribe__wrap-form {
    // @include desktop {
    // height: 266px;
    // width: 656px;
    // }
}
.subscribe__wrap {
    // @include desktop {
    //     width: 608px;
    //     height: 266px;
    // }
}
.subscribe__title {
    @include fonts(700, 28px, 1.20);
    margin-bottom: 20px;

    @include tablet {
        font-size: 42px;
    }
    @include desktop {
        padding-top: 46px;
    }
}
.subscribe__desc {
    @include fonts(400, 14px, 1.14);
    margin-bottom: 40px;

    @include tablet {
        @include fonts(null, 16px, 1.50);
        margin-bottom: 24px;
    }
}
.subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablet {
        flex-direction: row;
        align-items: baseline;
        gap: 22px;
    }
    @include desktop {
        gap: 32px;
        margin-bottom: 36px;
    }
}

.subscribe__input {
    box-sizing: border-box;
    background: $white__color;
    border: 0.854167px solid $yellow__bg__color;
    @include animation(border);
    @include animation(outline);
    border-radius: 30px;
    padding: 12px 11px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;

    &::placeholder {
        font-family: $main__font;
        @include fonts(400, 12px, 1.50);
        color: #505050;
    }

    &:focus {
        outline: transparent;
    }

    &:not(:placeholder-shown):not(:focus):valid {
        border: 0.854167px solid $accent__text__color;
    }

    &:not(:placeholder-shown):not(:focus):invalid {
        border: 0.854167px solid #FF705D;
    }
    &:not(:placeholder-shown):not(:focus):invalid+.subscribe__error {
        display: block;
        position: absolute;
        left: 4%;
        bottom: 32%;
    }
    @include tablet {
        width: 395px;
        margin-bottom: 0;
    }
}
.subscribe__error {
    display: none;
    @include fonts(400, 10px, 1.5);
    color: #FF705D;
}

.subscribe__btn {
    display: block;
    @include fonts(500, 13px, 1.50);

    color: $main__text__color;
    background: $btn__green__color;
    border-radius: 30px;
    border: 0.854167px solid $btn__green__color;
    @include animation(background);
    @include animation(border);
    cursor: pointer;

    padding: 11px 22px;
    width: 103px;
    float: right;


    &:focus,
    &:hover {
        background: #FFE450;
        border: 0.854167px solid #FFE450;
    }
}
.subscribe__img {
    position: absolute;
    display: block;
    top: -43px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;

    @include tablet {
        top: -74px;
        right: 0;
        left: 93%;
        transform: translateX(-93%);
        //width: 281px;
        // height: 136px;
    }

    @include desktop {
        position: static;
        transform: none;
        //display: inline-block;
        width: 608px;
        height: 266px;
        //object-fit: contain;
    }

}